nav{
    background-color: rgb(132, 97, 223);
    color:rgb(245, 247, 249);
    padding:30px 60px;
    display: flex;
    justify-content: space-between;
}
nav ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
nav li{
    list-style-type:none;
}
nav li a{
    color:white !important;
    text-decoration: none !important;
    font-weight: bold !important;
    padding:5px 50px;
}
nav li a:hover{
    color:yellow !important;
}